@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

// -- CARBON --
// FIXME themes does not change
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes' with ($theme: $g10);

:root {
  @include themes.theme($g10);
}

// Your entrypoint for including sass files from Carbon
$css--font-face: true;
$css--helpers: true;
$css--body: false;
$css--use-layer: true;
$css--reset: false;
$css--default-type: true;
$css--plex: true;

// Include defaults typically provided through the `styles.scss` entrypoint
@import 'carbon-components/scss/globals/scss/_css--reset.scss';
@import 'carbon-components/scss/globals/scss/_css--font-face.scss';
@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/_css--body.scss';

@import 'carbon-components/scss/components/treeview/_treeview.scss';
// -- CARBON END --

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
