@font-face {
  font-family: CMU Concrete Roman;
  src: url("cmu.concrete-roman.ttf");
}

@font-face {
  font-family: "GOST type A"; 
  src: url("fonts/GOST_A_.ttf") format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#chart {
  font-family: CMU Concrete Roman;
}
