@font-face {
  font-family: CMU Concrete Roman;
  src: url("cmu.concrete-roman.ttf");
}

@font-face {
  font-family: "GOST type A"; 
  src: url("fonts/GOST_A_.ttf") format("truetype");
}
:root{
  --dark-grey: #8A9099;
  --light-grey: #E0E0E0;
  --G4-grey: #BDBDBD;
  --orange-pressed: #FFF2EB;
  --main-orange: #FF9859;
  --box-shadow: 0px 4px 60px rgba(122, 122, 122, 0.25);
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  width: 100%;
}
p{
  font-size: inherit;
  font-weight: inherit;
}

#chart {
  font-family: CMU Concrete Roman;
}

.beam-calc{
  fill: currentColor;
  display: flex;
  align-self: center;
}

body *{
  box-sizing: content-box;
}
